.newsletter{
    width: 80%;
    height: 45vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-top: 560px;
    padding: auto;
    margin-bottom: 100px;
    background: linear-gradient(180deg, #5f8b76 0%, #65927322 60%);
    gap: 10px;
}
.newsletter h1{
    color: rgb(74, 13, 16);
    font-size: 55px;
    font-weight: 600;
}
.newsletter p {
    color: rgb(169, 63, 63);
    font-size: 25px;

}
.newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #08636a;
    width: 600px;
    height: 40px;
    border-bottom: 80px;
    border: 1px solid #5c0a0a;
}

.newsletter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: rgb(2, 6, 6);
    font-family: Poppins;
    font-size: 16px;
}
.newsletter button{
    width: 220px;
    height: 30px;
    border-radius: 100px;
    background: #5f8b76;
    color: rgb(42, 5, 5);
    font-size: 25px;
    cursor: pointer;

}

